# Infra Configuration
TIMESCALE_USER=postgres
TIMESCALE_PASSWORD=password
TIMESCALE_DB=bubble_db
TIMESCALE_PORT=5433

MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=password
MONGO_PORT=27018

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
